---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import TranslationSwitcher from './TranslationSwitcher.astro';
import type { TranslationId } from '../utils/i18n';
import { UI } from '../utils/i18n';

type AnyPsalmEntry =
  | CollectionEntry<'psalms'>
  | CollectionEntry<'psalmsKjv'>
  | CollectionEntry<'psalmsEs'>
  | CollectionEntry<'psalmsIt'>
  | CollectionEntry<'psalmsPl'>
  | CollectionEntry<'psalmsPt'>
  | CollectionEntry<'psalmsZh'>;

interface Props {
  psalm: AnyPsalmEntry;
  translation: TranslationId;
}

const { psalm, translation } = Astro.props;
const { Content } = await render(psalm);
---
<article>
  <div class="psalm-title-row">
    <h1>{UI[translation].psalm} {psalm.data.number}</h1>
    <TranslationSwitcher psalmNumber={psalm.data.number} current={translation} />
  </div>
  {psalm.data.title && (
    <p class="psalm-superscription">{psalm.data.title}</p>
  )}
  <div class="psalm-body">
    <Content />
  </div>
</article>
